/* General styling */
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    display: flex;
    flex-direction: column;
}

#header,
#spices,
#testimonials,
#contact,
#footer {
    padding: 32px 160px;
    overflow: auto;
}

.btn {
    color: #F9FAF8;
    background-color: #3882F6;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    max-width: fit-content;
    padding: 8px 16px;
}

.btn:hover {
    background-color: #2e6ac9;
}


/* Header section styling */
#header {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
}

.logo-and-navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    margin-bottom: 12px;
}

.logo-and-navigation .logo {
    height: auto;
    width: 96px;
}

.logo-and-navigation .navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    gap: 24px;
}

.logo-and-navigation .navigation a {
    color: #E5E7EB;
    text-decoration: none;
}

.logo-and-navigation .navigation li {
    transition: transform 0.3s ease;
}

.logo-and-navigation .navigation li:hover {
    transform: translateY(4px);
}

.welcome {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 16px;
}

.welcome .welcome-message {
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 480px;
}

.welcome .welcome-message h1 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 800;
}

.welcome .welcome-message p {
    color: #E5E7EB;
}

.welcome .welcome-image {
    height: 240px;
    width: 480px;
    object-fit: cover;
}

@media screen and (max-width: 540px) {
    .welcome .welcome-image {
        padding-right: 16px;
    }
}


/* Spices section styling */
#spices {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

#spices .spices-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
}

#spices .spices-container .spice {
    display: flex;
    flex-direction: column;
    max-width: 240px;
    gap: 24px;
}

#spices .spices-container .spice img {
    border: 4px solid #3882F6;
    border-radius: 8px;
    height: 180px;
    object-fit: cover;
    transition: transform 0.3s ease;
}

#spices .spices-container img:hover {
    transform: translateY(8px);
}

#spices .spices-container .spice p {
    text-align: center;
}


/* Testimonials section styling */
#testimonials {
    background-color: #E5E7EB;
}

#testimonials .testimonial-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#testimonials .testimonial-container .testimonial {
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
}

#testimonials .testimonial-container .author {
    font-weight: bold;
    font-size: 24px;
    margin-left: auto;
}